$principale-1: #EF6021;
$principale-2: #BF4D1A;
$principale-3: #994C08;
$principale-4: #663306;

$disabled: #FACFBC;

$teinte-fond-orange-1: #FFF2E7;

$pastel: #FACFBC;

$ombre: 4px 4px 5px rgba(0, 104, 175, 0.12);

$confirmation-fond: rgba(0, 175, 175, 0.1);
$confirmation-texte: rgb(0, 122, 122);

$danger: rgb(222, 40, 32);
$danger-fond: rgb(252, 234, 233);
$danger-texte: rgb(222, 40, 32);
