@import 'bootstrap-mixins';

$breakpoints: (
        xs: 0,
        sm: 430px,
        md: 768px,
        lg: 1024px,
        xl: 1200px
) !default;

@mixin responsive-class($class-name) {
  .#{$class-name} {
    @content;
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: if($breakpoint == 'xs', '-xs', breakpoint-infix($breakpoint, $breakpoints));

    .#{$class-name}#{$infix} {
      @include media-breakpoint-only($breakpoint) {
        @content;
      }
    }

    .#{$class-name}#{$infix}-up {
      @include media-breakpoint-up($breakpoint) {
        @content;
      }
    }

    .#{$class-name}#{$infix}-down {
      @include media-breakpoint-down($breakpoint) {
        @content;
      }
    }
  }
}
