service: geneaplanner-backend

frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs12.x
  lambdaHashingVersion: 20201221
  stage: dev
  region: eu-west-3
  timeout: 10
  tracing:
    apiGateway: true
    lambda: true
  environment:
    BUCKET_FICHIERS_GEDCOM: geneaplanner-${opt:stage, self:provider.stage}-fichiers-gedcom
    TABLE_DONNEES: geneaplanner-${opt:stage, self:provider.stage}-donnees
    thundra_apiKey: THUNDRAAPIKEY
  httpApi:
    cors:
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - GET
        - PUT
        - POST
        - DELETE
        - PATCH
        - OPTIONS
      allowedOrigins:
        - http://localhost:3000
        - https://geneaplanner-dev.surge.sh
        - https://geneaplanner.surge.sh
    payload: '2.0'
    authorizers:
      accessTokenAuth0:
        identitySource: $request.header.Authorization
        issuerUrl: https://geneaplanner.eu.auth0.com/
        audience:
          - https://geneaplanner-api-gateway/
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:Scan
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:BatchWriteItem
      Resource:
        - Fn::Join:
            - ""
            - - "arn:aws:dynamodb:"
              - Ref: AWS::Region
              - ":"
              - Ref: AWS::AccountId
              - ":table/geneaplanner*"
    - Effect: Allow
      Action:
        - dynamodb:ListTables
      Resource:
        - Fn::Join:
            - ""
            - - "arn:aws:dynamodb:"
              - Ref: AWS::Region
              - ":"
              - Ref: AWS::AccountId
              - ":table/*"
    - Effect: "Allow"
      Action:
        - xray:PutTraceSegments
        - xray:PutTelemetryRecords
      Resource: "*"
    - Effect: "Allow"
      Action:
        - "s3:GetObject"
        - "s3:PutObject"
        - "s3:ListBuckets"
        - "s3:CreateBucket"
      Resource:
        - "arn:aws:s3:::*/*"

plugins:
  - serverless-plugin-thundra
  - serverless-plugin-umzug

custom:
  umzug:
    tablename: geneaplanner-${env:STAGE, opt:stage, self:provider.stage}-migrations

package:
  include:
    - "node_modules/aws-lambda-utils/**"
    - "node_modules/aws-sdk-fluent-builder/**"
    - "node_modules/read-gedcom/**"
    - "node_modules/uuid/**"
    - "node_modules/@thundra/core/**"
  exclude:
    - "node_modules/**"

functions:
  chargement-gedcom:
    handler: src/utilisateurs/arbre.charger
    events:
      - httpApi:
          path: /arbres/{identifiant}
          method: put
          authorizer:
            name: accessTokenAuth0
  recherche-gedcom:
    handler: src/utilisateurs/arbre.rechercher
    events:
      - httpApi:
          path: /arbres/{identifiant}
          method: get
          authorizer:
            name: accessTokenAuth0
  recuperation-corrections:
    handler: src/corrections/corrections.recupererLesCorrections
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/corrections
          method: get
          authorizer:
            name: accessTokenAuth0
  ajout-correction:
    handler: src/corrections/corrections.ajouterUneCorrection
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/corrections
          method: post
          authorizer:
            name: accessTokenAuth0
  validation-correction:
    handler: src/corrections/corrections.validerUneCorrection
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/corrections/{identifiantCorrection}
          method: delete
          authorizer:
            name: accessTokenAuth0
  recuperation-recherches:
    handler: src/recherches/recherches.recupererLesRecherches
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/recherches
          method: get
          authorizer:
            name: accessTokenAuth0
  ajout-recherches-individu:
    handler: src/recherches/recherches.ajouterDesRecherchesDIndividu
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/recherches
          method: post
          authorizer:
            name: accessTokenAuth0
  suppression-recherches-individu:
    handler: src/recherches/recherches.supprimerDesRecherchesDIndividu
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/recherches/{individu}
          method: delete
          authorizer:
            name: accessTokenAuth0
  ajout-note-a-recherches-individu:
    handler: src/recherches/recherches.ajouterUneNoteAUnIndividu
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/recherches/{individu}/notes
          method: post
          authorizer:
            name: accessTokenAuth0
  suppression-note-a-recherches-individu:
    handler: src/recherches/recherches.supprimerUneNoteDUnIndividu
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/recherches/{individu}/notes/{note}
          method: delete
          authorizer:
            name: accessTokenAuth0
  ajout-recherche-a-recherches-individu:
    handler: src/recherches/recherches.ajouterUneRechercheAUnIndividu
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/recherches/{individu}/recherches
          method: post
          authorizer:
            name: accessTokenAuth0
  suppr-recherche-recherches-individu:
    handler: src/recherches/recherches.supprimerUneRechercheDUnIndividu
    events:
      - httpApi:
          path: /utilisateurs/{identifiant}/recherches/{individu}/recherches/{recherche}
          method: delete
          authorizer:
            name: accessTokenAuth0
