@import "./commun/fonts.scss";
@import "./commun/variables.scss";
@import "./commun/bootstrap-mixins";

.MuiIcon-root {
  width: 2em !important;
}

.MuiAutocomplete-popupIndicator {
  display: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.MuiInput-underline:before {
  border-bottom: 0 !important;
}

.MuiInput-underline.Mui-focused:before {
  border-bottom: 0 !important;
}

.MuiInput-underline:after {
  border-bottom: 0 !important;
}

.MuiInput-underline.Mui-focused:after {
  border-bottom: 0 !important;
}

.MuiAutocomplete-popper {
  width: 500px !important;
  left: 80px !important;
}

:focus-visible {
  outline: none;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.flex-grow-1 {
  flex-grow: 1;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-3 {
  gap: 3rem;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pl-5 {
  padding-left: 3.2rem !important;
}

.pr-5 {
  padding-right: 3.2rem !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: $font-weight-regular-value;
  font-size: 1.6rem;
}

.button {
  height: 48px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-weight: $font-weight-bold-value;
  padding: .9rem 1.6rem;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
}

.conteneur-principal {
  @include media-breakpoint-down(md) {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    width: 768px;
  }

  @include media-breakpoint-up(xl) {
    width: 1134px;
  }
}

.texte-danger {
  color: $danger;
}

h3 {
  margin: 0;
}
