@import '../commun/bootstrap-mixins';
@import "../commun/colors";
@import "../commun/variables";

.personnelles {
  width: 100%;
  padding-right: 1rem;

  @include media-breakpoint-down(sm) {
    padding-left: 2rem;
  }
}

.libelle-champ {
  font-size: 1.6rem;
  font-weight: $font-weight-bold-value;
  color: $principale-4;
}
