@import "../commun/colors";
@import "../commun/variables";

#profil-entete {
  margin-top: -30px;

  @media screen and (max-width: $breakpoint-lg) {
    margin-top: -64px;
  }

  @media screen and (max-width: $breakpoint-sm) {
    margin-top: -30px;
  }

  padding: 3.4rem 2rem 4rem;

  @media screen and (min-width: $breakpoint-sm) {
    padding: 3.4rem 4rem 4rem;
  }

  @media screen and (min-width: $breakpoint-lg) {
    padding: 3.4rem 2rem 4rem;
  }

  background: white;
  border: 1px solid $teinte-fond-orange-1;
  box-shadow: $ombre;
  border-radius: 10px;
}
